/* Container and general styling */
.container {
    max-width: 960px;
    margin: auto;
}

header {
    background-color: #5f97ce;; /* Blue background color */
    color: white; /* White text color */
    padding: 10px 0; /* Padding to ensure the text doesn't touch the edges */
    text-align: center; /* Centers the text horizontally */
}

h2{
    font-family: 'Arial', sans-serif;
    margin: auto;
    padding: 15px 22px 0px;
    color: #333;

}

body, h3 {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Search section styling */
#search-section {
    padding: 20px;
    color: white;
    width: 100%; /* Ensures full width */
    box-sizing: border-box; /* Ensures padding doesn't affect overall width */
}
#search-container {
    margin-bottom: 20px;
    display: flex; /* Using flexbox for layout */
    flex-direction: column; /* Stacks the children vertically */
}

#search-input {
    
    padding: 10px;
    margin-bottom: 10px; /* Spacing between the input and the button */
    box-sizing: border-box; /* Ensures padding doesn't affect overall width */
}

#search-button {
    padding: 10px;
    
    background-color: #5f97ce;;
    color: white;
    border: none;
    cursor: pointer;
}

#search-history {
    
    padding: 15px;
    margin-top: 20px;
    /* Later, add styles for history buttons inside this div */
}

/* Weather info section */
#weather-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.weather-icon {
    width: 100px; /* Tamaño deseado en píxeles */
    height: auto; /* Mantener la proporción de aspecto */
}

/* Current weather styling */
#current-weather {
    flex-basis: 100%;
    background-color: #ffffff;
    padding: 20px;
    /* More styles will be added here for current weather content */
}

/* Current Weather Card Styling */
#current-weather-section {
    padding: 20px; /* Consistent padding with forecast cards */
    margin-bottom: 20px; /* Margin for spacing below the card */
    width: calc(20% * 5); /* Same total width as 5 forecast cards, adjust if necessary */
    text-align: center;
   
}

.weather-card-with-data {
    background-color: #5f97ce;;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    text-align: center; /* Centers the text inside the current weather section */
    margin-bottom: 20px;
}


#forecast-section {
    display: flex; /* Use flexbox to lay out forecast items in a row */
    justify-content: space-between; /* Space out forecast items evenly */
    align-items: stretch; /* Align items in a way that they take equal height */
    padding: 20px 0; /* Padding top and bottom */
}


#forecast-container {
    display: flex;
    justify-content: space-between;
    /* Styles for forecast cards will be added here */
}

/* Forecast card styling */
.forecast-card {
    background-color: #f8f9fa; /* Light grey background */
    padding: 10px; /* Spacing inside the cards */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2); /* Shadow effect for depth */
    width: 18%; /* Width for each card to fit 5 in a row */
    margin-bottom: 10px; /* Spacing between the cards vertically */
    text-align: center; /* Center the text inside the card */
}

.forecast-item {
    flex-basis: 18%; /* Allows 5 items per row */
    background-color: #5f97ce;;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    #forecast-container {
        flex-direction: column;
    }
}

